<main class="chat-wrapper">
  <header>
    <button>
      <icon-arrow-left></icon-arrow-left>
    </button>
    <icon-museum></icon-museum>
    <div class="status">
      <p>Museu</p>
      <span>• Online</span>
    </div>
  </header>
  <section class="chat-content">
    <app-chat-sugestion (questionSelected)="sendSugestionQuestion($event)" *ngIf="messages.length === 0">
    </app-chat-sugestion>
    <app-chat-dialog [messages]="messages"></app-chat-dialog>
    <app-chat-input (questionUser)="questionUser($event)"></app-chat-input>    
  </section>
</main>
