.conversation-wrapper {
  display: flex;
  height: 90%;
  flex-direction: column;
  overflow: scroll;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;
  gap: 36px;

  .chat-baloon {
    width: 100%;
  }
}
