.conversation-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: scroll;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;

  .chat-baloon {
    width: 100%;
  }
}
