/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #ff8966;
  --text-primary: #757575;
  --text-bold: #3E3E3E;
  --online-coloer: #3ABF38;
  --bg-secondary: #f4f4f4;
  --bg-primary: #fff;
}

* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  height: 100vh;
}
